@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap%27');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    background-color: #EEF9BF;
}
header{
    color: #75B79E;
    font-weight: 700;
    font-size: 3.5em;
    text-align: center;
}
main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 3em;
}
main div{
    position: relative;
}
.card{
   width: 117px; 
   height: 146px;
   border-radius: 5px;
   padding: 16px;
   display: flex;
   align-items: center;
   margin: 16px;
   backface-visibility: hidden;
}
.back{
    background-color: #A7E9AF;
    border: solid 1px #99CEA8;
    
}
.back:hover{
    cursor: pointer;
}

.front{
    background-color: #ffcece;
    border: solid 1px #E1E1E1;
}
.front:hover{
    cursor: pointer;
}
.card img{
    width: 100%;
}
.hide{
    display: none;
}

@media(max-width:710px){
    header{
        font-size: 2.5em;
        line-height: 1.2em;
    }
    main{
        margin-top: 1em;
    }
}